<div class="left-col">
	<div class="bg-gray"></div>
	<div class="introduce">
		<header id="header">
			<a href="/" class="avatar">
				<img src="{{ site.baseurl }}/assets/img/avatar.png" alt="">
			</a>
			<h1 class="author">
				<a href="/">{{ site.title }}</a>
			</h1>
			<p class="subtitle">{{ site.description }}</p>
			<nav class="nav">
				<ul>
					<li><a href="/">主页</a></li>
					<li><a href="/">相册</a></li>
				</ul>
			</nav>
			<nav class="smart-nav header-smart-menu">
				<a href="javascript:;" class="js-smart-menu" data-idx="0">所有文章</a>
				<a href="javascript:;" class="js-smart-menu" data-idx="1">标签</a>
				<a href="javascript:;" class="js-smart-menu" data-idx="2">关于我</a>
			</nav>
			<nav class="follow">
				<div class="social">
					<a href="" class="github" title="github">
						<i class="iconfont">&#xe629;</i>
						<span>github</span>
					</a>
					<a href="" class="weibo" title="weibo">
						<i class="iconfont">&#xe62b;</i>
						<span>weibo</span>
					</a>
					<a href="javascript:;" class="rss" title="rss">
						<i class="iconfont">&#xe62a;</i>
						<span>rss</span>
					</a>
				</div>
			</nav>
		</header>
	</div>
</div>